{
  "env": {
    "production": {
      "plugins": ["emotion", "react-loadable/babel"],
      "presets": ["react-app", "@emotion/babel-preset-css-prop"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }], "react-loadable/babel"],
      "presets": ["react-app", "@emotion/babel-preset-css-prop"]
    },
    "test": {
      "plugins": [["emotion", { "sourceMap": true }]],
      "presets": ["react-app", "@emotion/babel-preset-css-prop"]
    }
  }
}
