{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": ["eslint:recommended", "react-app", "eslint-config-prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "no-debugger": 0
  }
}
