sudo: false
language: node_js
cache:
  directories:
    - "~/.npm"
notifications:
  email: false
node_js: "10"

stages:
  - test
  - name: deploy
    if: branch = master

jobs:
  include:
    - stage: test
      install: npm install
      script: npm run validate
      after_script: npx codecov@3
    - stage: deploy
      install: npm install
      script: npm build
      deploy:
        provider: firebase
        token:
          secure: "bQprtQ49DerB8MyMATDLw5qROR5ElXv976OkiyuNUO2+Z+HYui86wHn4yqjQNt9LkFqs2kBLnkTzuqCcMhA/jE4MC1/Qh5tw7OMwmkgwzmnvMVDZKleO2U55ZTl2DsC7WgYWW6tCBTSCoVWsEPJ8IR53wSZQMRhfMKXrCLLYCn2ZfQM9V+TQOEupcsgKoKd+PCf4lnhee+SEETfFXSnN0nW62zgqIdiZhqbt2V1QJMDLz9HEONBfGQk4RTqBfTBfNUAmZP3+YhBLsHRbCChedyf7zITestUbs9T2z+w9zARg2F0vCXpJ6cmVBaJYbW90pMAZCkyFk99SiWC5Y2qazSplgvSAaa67Eqp1vW2WcwPWmW3Evt1ZsXkVfuNVZVL6XBxXI9Fy3eXi2dDUVnCO8M729qMOxL0CLFedDTtOGxd53RdCHqseQTqWpSPxvpzX8zfBf16PLMppcfJSlx1hGG4rRoTiP8nIUk9+hC21k0pQMvC2kvxDeBXFjg4wdtvXWzIwqBgTE8taed+mspXejnwf1W2okKmBDX+FnC9q7WFur9X5IPgSaKJbrIHMSUJIbvC4+Ps6JHi5DT+1EpIjLTrJV6B4ldFpUDCU4H5npE1gKRFP/eMBsoqnb1A64epQy75J7RMCGC7i7FUz3YM2hOKzLFDKf0ZljmAeFII/JnU="
